#chatbox {
    border: hkey $panel-lighten-3;
    background: $boost;
    height: 1fr;
    width: 1fr;
    overflow-y: auto;
}

#chatbar {
    height: 4;
    width: 1fr;
    margin-top: 1;
    padding: 0 1 1 1;
}

#chatsend {
    width: 6;
    min-width: 5%;
}

#chatinput {
    background: $boost;
    width: 1fr;
}