#contactpanel{
    height: 1fr;
}

#contactbuttonbar {
    height: 3;
    width: 1fr
}

#contactscroll {
}

#addcontact {
    width: 50%;
    min-width: 25%
}

#removecontact {
    width: 50%;
    min-width: 25%
}

AddContact {
    align: center middle;
}

#addcontactcontainer {
    height: 11;
    width: 100;
    border: vkey $success;
}

#addcontactfinal {
    margin-left: 1;
    width: 50%;
    height: auto;
}

#cancelcontactadd {
    margin-right: 2;
    width: 50%;
}

RemoveContact {
    align: center middle;
}

#removecontactcontainer {
    height: 8;
    width: 100;
    border: vkey $error;
}

#removecontactname, #addcontactip{
    height: 3;
}

