Reader {
    height: 1fr;
    width: 80%;
    padding: 1;
    border: tall $secondary-lighten-2;
    background: $boost-lighten-2;
}

LogFilterSelector {
    width: 1fr;
    height: 5;
    padding: 1;
    min-height: 5;
}

#LogSelectorBar {
    border: hkey $accent-darken-2;
    margin: 1;
    background: $boost;
    height: auto;
}

DebugLog {
    width: 1fr;
    height: 1fr;
    padding-left: 2;
    border: tall $secondary-lighten-2;
    background: $boost-lighten-2;
}

#InstanceSelector {
    height: 1fr;
    width: 20%;
    padding: 1;
    border: tall $secondary-lighten-2;
    background: $boost-lighten-2;
}