Horizontal {
   width: 1fr;
   height: 1fr;
   layout: horizontal;
   overflow: hidden hidden;
}

Vertical {
    background: 0%;
}


#toprow {
    height: 60%;
    background: $surface;

}

#toprowa {
    width: 25%;
    height: 1fr;
    border: vkey $secondary-lighten-1;

}

#toprowb {
    border: vkey $secondary-lighten-1;

    width: 50%;
}

#toprowc {
    width: 25%;
    height: 1fr;
    border: vkey $secondary-lighten-1;
}


#bottomrow {
    background: $surface;
    border: hkey $secondary;
    height: 40%;
}

#bottomrowa {
  width: 50%;
  border: vkey $secondary;

}

#bottomrowb {
  width: 50%;
  border: vkey $secondary;
}