LogEntry, InactiveEntry {
    background: $boost;
    outline: wide darkgrey;
    margin: 0 4 0 0;
    min-width: 50;
    padding: 1;
    align: left top;
    min-width: 25%;
}

#logtab {
    background: 0%;
    background: $boost;
    overflow-x: auto;
    min-height: 0;
}

#logview {
    text-wrap: wrap;
    text-overflow: ellipsis;
}

.error {
    outline: wide $error;
}

.success {
    outline: wide $success;
}

InactiveEntry {
    outline: wide $primary;
    height: Auto;
}

#inactive_entry {
    padding: 1;
}

#active_container, #inactive_container {
    height: Auto;
}

#inactive_bar {
    height: Auto;
    width: 100%;
}

#cancel_entry {
    width: 8;
    min-width: 8;
    min-height: 0;
    align: right middle;
}