LogEntry {
    background: $boost;
    outline: wide darkgrey;
    height: Auto;
    margin: 0 4 0 0;
    min-width: 50;
    padding: 1;
    align: left top;
    min-width: 25%
}

#logtab {
    background: 0%;
    background: $boost;
}

.error {
    outline: wide $error;
}

.success {
    outline: wide $success;
}